<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PYInterchange.framework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>PYInterchange.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>155F44AB1CEB149700FD22EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>155F44C71CEB149800FD22EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>155F44D21CEB149800FD22EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15E4070D1D2F942500EF1E5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15E407161D2F942500EF1E5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
