<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Dialog.Framework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>DialogScourceCode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>150CE2361BDA683F00935566</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>150CE24F1BDA683F00935566</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>150CE25A1BDA683F00935566</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>156524B71BDFA1A700B16D79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15767B5E1BDF83720080E1D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15767B671BDF83720080E1D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15CB253F1BEC5D10000D4FC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
